body {background-color: rgba(0, 0, 0, 0.835);}
body {color: white;}

cursor {cursor: grab;}

h1 {font-family: Tahoma;}
h1 {font: 300;}
h1 {font-weight: bolder;}
h1 {color: whitesmoke;}
h1 {background-color: gray;}
h1 {border-style: groove;}
h1 {text-align: center;}

img {border: 2in;}
img {border-color: white;}
img {border-image-outset: 20cm;}
img {border-radius: 50px;}
img {background-color: azure;}

h2 {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
h2 {font-family: cursive}
h2 {font-size: xx-large;}
